.contendedor_logo {
	height: 80px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
}
.menu_fijo {
	height: 20px;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 40px;
	padding-top: 6px;
	font-size: 12px;
	color: #004F39;
	text-decoration: none;
}
.cabezal {
	height: 300px;
	width: 920px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(imagenes/preloader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.submenu {
	height: 31px;
	width: 950px;
	margin-right: auto;
	margin-left: auto;

}
.contenedor_columnas {
	height: 125px;
	width: 727px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #4E4E4E;
	text-align: justify;
	margin-left: auto;
	margin-top: 50px;
}
.titulos_texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #666;
	font-style: normal;
}
.legales {
	height: 50px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;

}
.vinculo_mail {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	text-decoration: none;
}
.columna_texto {
	height: 115px;
	width: 567px;
	margin-right: auto;
	margin-left: 160px;
}
.contendedor_principal {
	height: 600px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F7F7F7;
}
.destacados_texto {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-variant: normal;
	text-transform: uppercase;
	color: #004F39;
}
a:link {
	color: #1F1F1F;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #1F1F1F;
}
.legales a:link {
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #999;
}

a:active {
	text-decoration: none;
	color: #004F39;
}
.destacados_texto {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-variant: normal;
	text-transform: uppercase;
	color: #004F39;
}
.contendedor_logo a img {
	text-decoration: none;
	border: none;
}

.vinculo_volver {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #004F39;
	text-align: right;
	margin-left: 500px;
	font-size: 16px;
}
.contenedor_volver {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	height: 20px;
	width: 80px;
	padding-left: 468px;
	color: #004F39;
	font-size: 16px;
	background-image: url(imagenes/iso_volver.png);
	background-repeat: no-repeat;
}
.contenedor_volver2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	height: 20px;
	width: 150px;
	padding-left: 410px;
	color: #004F39;
	font-size: 16px;
	background-image: url(imagenes/iso_volver.png);
	background-repeat: no-repeat;
}
.contenedor_volver3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	height: 20px;
	width: 170px;
	padding-left: 390px;
	color: #004F39;
	font-size: 16px;
	background-image: url(imagenes/iso_volver.png);
	background-repeat: no-repeat;
}
.puntos {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #F7F7F7;
	font-weight: bold;
	margin-right: 3px;
}
.link_opciones {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666;
	text-decoration: underline;
}
.contendedor_principal_scroll {
	height: 590px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 17px;
}
.titulo_textoindex {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	height: 20px;
	width: 500px;
	margin-right: auto;
	margin-left: 25px;
	color: #666;
}
.texto_index2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #666;
	margin-left: 90px;
	width: 400px;
	padding-top: 10px;
}
.legales a img {
	text-decoration: none;
	border: none;
}
